

body {
	font-family: arial;
	background-color: white;
	font-size: .75em;
}

h1 {
	font-family: times;
	font-size: 2.5em;
	color: #009900;
}

h2 {
	font-family: arial;
	font-size: 1.85em;
}

#raceDashboard {
	display: inline-block;
	width: 1080px;
	clear: right;
}

#counterSpace {
	float: left;
	width: 80px;
}

.racerProgress {
	display: inline-block;
	width: 80px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	font: 1.25em bold times;
	color: #009900;
	text-align: center;
}

.racerPic {
	position: absolute;
}

#raceTrack {
	position: inline-block;
	float: left;
	width: 990px;
	border-right: solid 4px red;
	text-align: left;
}

.racerSpace {
	position: relative;
	right;
	height: 100px;
	vertical-align: bottom;
}

#bettingArea {
	display: inline-block;
	float: left;
	width: 400px;
	padding-right: 40px;
}

#messageArea {
	float: left;
	width: 626px;
	height: 320px;
}

.raceAlert {
	font: 20px bold arial;
	color: #009900;
}

